.table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  th{
    background-color: #f2f2f2;
    color: #000;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 20px;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  @media only screen and (max-width: 768px) {
    th,td{
      font-size: 16px;
    }
  }