.wrapper {
    margin: 0 auto;
    width: 600px;
    max-width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
  }
  
  .content {
    padding: 18px 15px;
    margin: 10px 0 20px 0;
    outline: none;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 20px;
    min-height: 250px;
    width: 100%;
  }
  
  .photoPrompt {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .submit {
    background-color: #3861fb;
    color: #fff;
    border: none;
    outline: none;
    width: 30%;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 40px 0 0 0;
  }
  
  .submit:hover,
  .submit:disabled {
    background-color: #829dff;
  }